
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  <center>
    <h1> Shelters </h1>
    <% @shelters.each do |shelter| %>
      <h2><%= shelter.name %></h2><br>
    <%= link_to "See this shelters pets", "/shelters/#{shelter.id}/pets" %><br>
    <% end %>
    <%= link_to "New Shelter", "/shelters/new"  %>
    </center>
  </body>
</html>
