<h2><%= @shelter.name %></h2>
<h3><%= @shelter.address %></h3>
<h3><%= @shelter.city %></h3>
<h3><%= @shelter.state %></h3>
<h3><%= @shelter.zip %></h3>

<a href="/shelters/ <%= @shelter.id %> >/edit">Edit Shelter</a>
<br><br><br>

<form action="/shelters/<%= @shelter.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Shelter"/>
</form>
