<h1>All Pets For <%= @shelter.name %></h1>
<h3>Shelter Id: <%= @shelter.id %></h3>

<% @shelter.pets.each do |pet| %>
  <img src= <%= pet.image %> <br>
  <p>
  <%= pet.name %><br>
  <%= pet.description %><br>
  <%= pet.age %><br>
  <%= pet.sex %><br>
  <%= pet.shelter_name %>
  <br>
  <br>
  </p>
<% end %>
