<h1>Pets </h1>
<% @pets.each do |pet| %>
<section class="grid-item "id="pet-<%=pet.id%>">
<%= image_tag(pet.image) %>
<p>Name: <%= pet.name %></p>
<p>Age: <%= pet.approximate_age %></p>
<p>Sex: <%= pet.sex %></p>
<p>Current Shelter: <%= pet.shelter.name %></p>
<% end %>