<div class="container">
<center>
<h1>Pet Info</h1>
<%= image_tag(@pet.image) %>
<h2>Name: <%= @pet.name %><h2>
<p>Description: <%= @pet.description %></p>
<p>Age: <%= @pet.approximate_age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Status: <%= @pet.adoptable %></p>
</div>
</center>